<h3>Adjustments</h3>

<div>
  <label class="valign-top">Deductions:</label>
  <div class="inline-block">
    <div ng-repeat="deduction in deductions">
      <input type="checkbox" name="{{ deduction }}" id="{{ deduction }}"
       ng-model="data.deductions.federal.ordinaryIncome[deduction]">
      <label for="{{ deduction }}">{{ deduction | splitCamelCase }}</label>
    </div>
    <div>
      <input type="checkbox" name="tradRetirement" id="tradRetirement" ng-model="data.deductions.federal.ordinaryIncome.hasTradRetirement">
      <label for="tradRetirement">Traditional 401k + IRA</label>
    </div>
    <div>
      <input type="checkbox" name="dependents" id="dependents"
        ng-model="data.deductions.federal.ordinaryIncome.dependents">
      <label for="dependents">Dependents</label>
    </div>
  </div>
</div>

<div ng-if="!data.deductions.federal.ordinaryIncome.standardDeduction">
  <label for="itemized" class="valign-top">Itemized <br>Deduction:</label>
  <input type="text" id="itemized" name="itemized" convert-to-number ng-model="data.deductions.federal.ordinaryIncome.itemizedDeduction">
</div>

<div ng-if="data.deductions.federal.ordinaryIncome.hasTradRetirement">
  <label for="tradRetirementContribution" class="valign-top">t401k + tIRA <br>Contribution:</label>
  <input type="text" id="tradRetirementContribution" name="tradRetirementContribution" convert-to-number ng-model="data.deductions.federal.ordinaryIncome.tradRetirementContribution">
  <div class="tooltip-bottom" data-tooltip="Only include contributions in traditional retirement accounts; Roth contributions do not reduce taxable income.">
    <i class="fa fa-info-circle info"></i>
  </div>
</div>

<div ng-if="data.deductions.federal.ordinaryIncome.dependents">
  <label for="dependents">Dependents:</label>
  <select id="dependents" name="dependents" ng-model="data.deductions.federal.ordinaryIncome.numDependents"
   ng-options="num as num for num in [0, 1, 2, 3, 4, 5]">
  </select>
</div>

<div>
  <label class="valign-top">Credits:</label>
  <div class="inline-block">
    <div ng-repeat="credit in credits">
      <input type="checkbox" name="{{ credit }}" id="{{ credit }}"
       ng-model="data.credits.federal.ordinaryIncome[credit]">
      <label for="{{ credit }}">{{ credit | splitCamelCase }}</label>
    </div>
  </div>
</div>

<div ng-if="data.credits.federal.ordinaryIncome.retirementSavers">
  <label class="valign-top" for="retirement-contribution">Retirement <br> Contribution:</label>
  <input type="text" id="retirement-contribution" name="retirement-contribution" ng-model="data.credits.federal.ordinaryIncome.retirementContribution" convert-to-number>
  <div class="tooltip-bottom" data-tooltip="Include contributions in both traditional and Roth retirement accounts; both are counted towards the saver's credit.">
    <i class="fa fa-info-circle info"></i>
  </div>
</div>