<!DOCTYPE html>
<html class="no-js" ng-app="taxApp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="'TaxGraphs | ' + $root.title">TaxGraphs</title>
    <meta name="description" content="Visualization of US individual income tax rates">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="TaxGraphs">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://taxgraphs.io">
    <meta property="og:image" content="dist/images/graph.png">

    <link rel="shortcut icon" href="dist/images/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500">
    <!--STYLES-->
    <link rel="stylesheet" href="dist/styles/main-0.1.5.min.css">
    <!--STYLES END-->

    <!--[if lt IE 9]>
      <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/r2d3/0.2.0/r2d3.min.js" charset="utf-8"></script>
    <![endif]-->
  </head>

  <body>
    <header class="pure-g pure-menu pure-menu-open pure-menu-horizontal">
      <ul class="pure-u-1">
        <li class="logo">TaxGraphs</li>
        <li class="pure-hidden-sm">
          <a href="#/" ng-class="{ active: isActive('/') }">State Comparison</a>
        </li>
        <li class="pure-hidden-sm">
          <a href="#/state" ng-class="{ active: isActive('/state') }">State Breakdown</a>
        </li>
        <li class="pure-hidden-sm">
          <a href="#/take-home-pay" ng-class="{ active: isActive('/take-home-pay') }">Take Home Pay</a>
        </li>
        <li class="pure-visible-sm mobile">
          <a href="https://github.com/hermantran/taxgraphs"><i class="fa fa-github"></i></a>
        </li>
        <li class="pure-visible-sm mobile">
          <a ng-click="$root.toggleMobileControls()"><i class="fa fa-line-chart"></i></a>
        </li>
      </ul>
    </header>

    <div class="pure-g container">
      <div class="pure-u-1 pure-u-md-3-8 pure-u-lg-1-3 pure-u-xl-1-4 controls-wrapper" 
       ng-class="{ 'pure-hidden-sm': $root.hideMobileControls }">
        <div class="mobile-links section pure-visible-sm">
          <h3>Graph</h3>
          <div>
            <label>Currently Active:</label>
            <span>{{ $root.title }}</span>
          </div>
          <div class="text-center buttons">
            <a href="#/"><button class="pure-button">State Comparison</button></a>
            <a href="#/state"><button class="pure-button">State Breakdown</button></a>
            <a href="#/take-home-pay"><button class="pure-button">Take Home Pay</button></a>
          </div>
        </div>
        <div class="controls">
          <div ng-view></div>
          <div class="section tip" ng-repeat="tip in tips" ng-hide="tip.closed">
            <i class="fa fa-info-circle info"></i>
            <span class="text">{{ tip.text }}</span>
            <i class="fa fa-close close" ng-click="closeTip($index)"></i>
          </div>
        </div>
        <div class="footer">
          <a href="https://github.com/hermantran/taxgraphs" target="_blank">GitHub</a> |
          <a href="https://github.com/hermantran/taxgraphs/issues" target="_blank">Feedback</a>
          <div class="copyright">&copy; 2014-2015 Herman Tran</div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-5-8 pure-u-lg-2-3 pure-u-xl-3-4 graph-wrapper"
       ng-class="{ 'pure-hidden-sm': !$root.hideMobileControls }">
        <svg class="graph"></svg>
      </div>
    </div>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>

    <!--SCRIPTS-->
    <script src="dist/js/main-0.1.5.min.js"></script>
    <!--SCRIPTS END-->

    <!--LIVERELOAD-->
    
    <!--LIVERELOAD END-->
  </body>
</html>
