<!DOCTYPE html>
<html class="no-js" ng-app="taxApp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="'TaxGraphs | ' + $root.title">TaxGraphs</title>
    <meta name="description" content="Visualization of US individual income tax rates">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="TaxGraphs">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://taxgraphs.io">
    <meta property="og:image" content="dist/images/graph.png">

    <link rel="shortcut icon" href="dist/images/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500">
    <!--STYLES-->
    <link rel="stylesheet" href="dist/styles/main-0.3.13.min.css">
    <!--STYLES END-->

    <!--[if lt IE 9]>
      <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/r2d3/0.2.0/r2d3.min.js" charset="utf-8"></script>
    <![endif]-->
  </head>

  <body>
    <header class="pure-g pure-menu pure-menu-open pure-menu-horizontal">
      <ul class="pure-u-1">
        <li class="logo">TaxGraphs</li>
        <li ng-repeat="route in routeOrder" class="pure-hidden-md">
          <a href="#{{ routeConfig[route].path }}" ng-class="{ active: isActive(routeConfig[route].path) }">
            {{ routeConfig[route].title }}
          </a>
        </li>
        <li class="pure-visible-md mobile">
          <a href="https://github.com/hermantran/taxgraphs" target="_blank"><i class="fa fa-github"></i></a>
        </li>
        <li class="pure-visible-md mobile">
          <a ng-click="$root.toggleMobileControls()"><i class="fa fa-line-chart"></i></a>
        </li>
      </ul>
    </header>

    <div class="pure-g container">
      <div class="pure-u-1 pure-u-lg-1-3 pure-u-xl-1-4 controls-wrapper"
       ng-class="{ 'pure-hidden-md': $root.hideMobileControls }">
        <div class="mobile-links section pure-visible-md">
          <h3>Graph</h3>
          <div>
            <label>Currently Active:</label>
            <span>{{ $root.title }}</span>
          </div>
          <div class="text-center buttons">
            <a ng-repeat="route in routeOrder" href="#{{ routeConfig[route].path }}">
              <button class="pure-button">{{ routeConfig[route].title }}</button>
            </a>
          </div>
        </div>
        <div class="controls">
          <div class="controls-content">
            <div ng-view></div>
            <div class="section tip" ng-repeat="tip in tips" ng-hide="tip.closed || isActive(routeConfig.disclaimer.path)">
              <i class="fa fa-info-circle info"></i>
              <span class="text">{{ tip.text }}</span>
              <i class="fa fa-close close" ng-click="closeTip($index)"></i>
            </div>
          </div>
          <div class="footer">
            <a href="#{{ routeConfig.disclaimer.path }}">Disclaimer</a>
            <span class="divider">|</span>
            <a href="https://github.com/hermantran/taxgraphs/issues" target="_blank">Feedback</a>
            <span class="divider">|</span>
            <a href="https://github.com/hermantran/taxgraphs" target="_blank">GitHub</a>
            <div class="copyright">&copy; 2014-{{ currentYear }} Herman Tran</div>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-lg-2-3 pure-u-xl-3-4 graph-wrapper"
       ng-class="{ 'pure-hidden-md': !$root.hideMobileControls  }">
        <svg class="graph" ng-hide="isActive(routeConfig.disclaimer.path)"></svg>

        <div class="disclaimer" ng-class="{ show: true }" ng-show="isActive(routeConfig.disclaimer.path)">
          <h2>Disclaimer</h2>
          <h3>PRIVACY POLICY</h3>

          <p>TaxGraphs.io does not collect any personal information about you as a visitor except standard traffic information generated by Google Analytics.</p>

          <h3>INFORMATION PROVIDED</h3>

          <p>TaxGraphs.io exists for educational purposes only, and the materials and information contained herein are for general informational purposes only. None of the information provided in the website is intended as investment, tax, accounting or legal advice. The information on the website should not be relied upon for purposes of transacting securities or other investments.</p>

          <p>You hereby understand and agree that TaxGraphs.io does not offer or provider tax, legal or investment advice and that you are responsible for consulting tax, legal, or financial professionals before acting on any information provider herein.</p>

          <p>Information provided on this site are solely for anecdotal and educational purposes. Reasonable attempts have been made to provide accurate data and calculations, but it’s important to provide your own verification of the data and calculations. Please exercise your own personal judgment at all times. You should not sign, commit to a legal obligation, or act upon any decision solely on information provided on this website. Always conduct a thorough investigation before making an important decision. You should consult with a professional where appropriate.</p>

          <p>The education and information presented herein is intended for a general audience and does not purport to be, nor should it be construed as, specific advice tailored to any individual. You are encouraged to discuss any opportunities with your attorney, accountant, financial professional or other advisors.</p>

          <p>Your use of the information contained herein is at your own risk. TaxGraphs.io assumes no liability or responsibility for errors or omissions in the information contained herein.</p>

          <p>Do not view any information you view on this site as definitive or professionally accurate. While we do our best to ensure all information is accurate, mistakes might be made. TaxGraphs.io makes no representations as to the accuracy, completeness, suitability or validity of any information on this site and will not be liable for any errors or omissions in this information or any damages arising from its display or use. If you do spot any error in data, grammar, or spelling, please let us know. We will make reasonable efforts to correct them.</p>

          <p><strong>UNDER NO CIRCUMSTANCES WILL TAXGRAPHS.IO BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON THE INFORMATION CONTAINED HEREIN. IT IS YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY INFORMATION, OPINION, ADVICE OR OTHER CONTENT CONTAINED HEREIN. PLEASE SEEK THE ADVICE OF PROFESSIONALS, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC INFORMATION, OPINION, ADVICE OR OTHER CONTENT.</strong></p>

          <p><em>This Disclaimer was last updated on June 7, 2020.</em></p>
        </div>
      </div>
    </div>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55615931-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
    </script>

    <!--SCRIPTS-->
    <script src="dist/js/main-0.3.13.min.js"></script>
    <!--SCRIPTS END-->

    <!--LIVERELOAD-->
    
    <!--LIVERELOAD END-->
  </body>
</html>
