.controls {
  fieldset {
    margin: 0 10px 20px;
    padding: 5px 10px;

    legend {
      font-weight: 400;
      margin-bottom: 5px;
    }

    label {
      display: inline-block;
      min-width: 120px;
    }

    input[type="text"] {
      width: 100px;
    }

    > div {
      margin: 0 0 5px; 
    }
  }

  button {
    margin: 0 5px;
  }

  .states {
    div {
      margin-bottom: 5px;
    }

    label {
      display: inline;
    }
  }
}