.graph {
  path {
    stroke-width: 2;
    fill: none;
  }

  .axis {
    shape-rendering: crispEdges;

    path {
      stroke: #000;
    }

    line {
      stroke: lightgrey;
    }
  }

  text {
    fill: @text-color;
  }

  .hover {
    stroke: #aaa;
  }

  .tooltip {
    text {
      font-weight: 400;
    }
  }

  .point {
    fill: none;
    stroke: steelblue;
  }
}