header.pure-menu.pure-menu-horizontal {
  background: @blue;
  
  * {
    color: @white;
  }

  .logo {
    font-weight: 500;
    font-size: 1em;
    padding: 7px 40px 7px 15px;
  }

  li a {
    &:hover {
      background: darken(@blue, 5%);
    }
    &.active {
      background: darken(@blue, 10%);
      outline: 0;
    }
  }

  .mobile {
    float: right;
  }
}