<fieldset>
  <legend>Graph Data</legend>

  <div>
    <label>States</label>
  </div>

  <div class="pure-g states">
    <div class="pure-u-1-3" ng-repeat="(key, value) in $root.data.state">
      <input type="checkbox" id="{{ key }}" name="{{ key }}" ng-model="selectedStates[key]">
      <label for="{{ key }}">{{ key }}</label>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Graph Settings</legend>

  <div>
    <label for="y-max">Y Axis Max (%)</label>
    <input type="text" id="y-max" name="y-max" ng-model="$root.yMax">
  </div>

  <div>
    <label for="x-max">X Axis Max ($)</label>
    <input type="text" id="x-max" name="x-max" ng-model="$root.xMax">
  </div>

  <div>
    <label for="animation-time">Animation Time</label>
    <input type="text" id="animation-time" name="animation-time" ng-model="$root.animationTime">
  </div>
</fieldset>

<div class="text-center">
  <button class="pure-button pure-button-primary" ng-click="$root.drawComparisonGraph(selectedStates, status)">Graph</button>
  <button class="pure-button" ng-click="clearGraph()">Clear</button>
</div>