<fieldset>
  <legend>Data</legend>

  <div>
    <label for="state">State:</label>
    <select ng-model="data.state" id="state" name="state"
     ng-options="v for v in states">
    </select>
  </div>

  <div>
    <label for="status">Filing Status:</label>
    <select ng-model="data.status" id="status" name="status" 
     ng-options="v as (v | capitalize) for v in filingStatuses">
    </select>
  </div>

  <div>
    <label class="valign-top">Graph Lines:</label>
    <div class="inline-block">
      <div>
        <input type="checkbox" name="effective-taxes" id="effective-taxes"> 
        <label for="effective-taxes">Effective Taxes</label>
      </div>
      <div>
        <input type="checkbox" name="marginal-taxes" id="marginal-taxes"> 
        <label for="marginal-taxes">Marginal Taxes</label>
      </div>
      <div>
        <input type="checkbox" name="marginal-taxes" id="marginal-taxes"> 
        <label for="marginal-taxes">Total Effective Tax</label>
      </div>
      <div>
        <input type="checkbox" name="marginal-taxes" id="marginal-taxes"> 
        <label for="marginal-taxes">Total Marginal Tax</label>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Settings</legend>

  <div>
    <label for="y-max">Y Axis Max (%):</label>
    <input type="text" id="y-max" name="y-max" ng-model="settings.yMax">
  </div>

  <div>
    <label for="x-max">X Axis Max ($):</label>
    <input type="text" id="x-max" name="x-max" ng-model="settings.xMax">
  </div>

  <div>
    <label for="animation-time">Animation Time:</label>
    <input type="text" id="animation-time" name="animation-time" ng-model="settings.animationTime">
  </div>
</fieldset>

<div class="text-center">
  <button class="pure-button pure-button-primary" ng-click="drawGraph()">Graph</button>
  <button class="pure-button" ng-click="clearGraph()">Clear</button>
</div>