<div class="section">
  <h3>Data</h3>

  <div>
    <label class="valign-top">States:</label>
    <div class="inline-block">
      <div class="state-options">
        <input type="checkbox" name="all-states" id="all-states" 
        ng-click="toggleStates(true)" ng-model="toggleState" ng-change="keepUnchecked()">
        <label for="all-states">All</a>

        <input type="checkbox" name="no-states" id="no-states" ng-click="toggleStates(false)" ng-model="toggleState" ng-change="keepUnchecked()">
        <label for="no-states">None</a>
      </div>
    </div>
    <div class="states pure-g">
      <div class="pure-u-1-3 pure-u-xl-1-4" ng-repeat="state in states">
        <input type="checkbox" id="{{ state }}" name="{{ state }}" ng-model="data.states[state]">
        <label for="{{ state }}">{{ state }}</label>
      </div>
    </div>
  </div>

  <div>
    <label for="status">Filing Status:</label>
    <select ng-model="data.status" id="status" name="status" 
     ng-options="v as (v | capitalize) for v in filingStatuses">
    </select>
  </div>

  <div>
    <label class="valign-top">Deductions:</label>
    <div class="inline-block">
      <div ng-repeat="deduction in deductions">
        <input type="checkbox" name="{{ deduction }}" id="{{ deduction }}"
         ng-model="data.deductions[deduction]">
        <label for="{{ deduction }}">{{ deduction | splitCamelCase }}</label>
      </div>
    </div>
  </div>

  <div>
    <label class="valign-top">Graph Lines:</label>
    <div class="inline-block">
      <div>
        <input type="checkbox" name="effective-taxes" id="effective-taxes" 
         ng-model="data.graphLines.effective"> 
        <label for="effective-taxes">Total Effective Tax</label>
      </div>
      <div>
        <input type="checkbox" name="marginal-taxes" id="marginal-taxes"
         ng-model="data.graphLines.marginal"> 
        <label for="marginal-taxes">Total Marginal Tax</label>
      </div>
    </div>
  </div>

  <h3>Settings</h3>

  <div>
    <label for="x-max">X Axis Max ($):</label>
    <input type="text" id="x-max" name="x-max" ng-model="settings.xMax">
  </div>

  <div>
    <label for="animation-time">Animation Time:</label>
    <select id="animation-time" name="animation-time" ng-model="settings.animationTime"
     ng-options="time as ((time / 1000) + (time === 1000 ? ' second' : ' seconds')) for time in animationTimes">
      </option>
    </select>
  </div>

  <div>
    <label for="colors">Color Scheme:</label>
    <select id="colors" name="colors" ng-model="settings.colors" ng-options="(key | capitalize) for (key, val) in colors"></select>
  </div>

  <div class="text-center buttons">
    <button class="pure-button pure-button-primary" ng-click="drawGraph()">Graph</button>
  </div>
</div>

<div class="section tip" ng-repeat="tip in tips" ng-hide="tip.closed">
  <i class="fa fa-info-circle info"></i>
  <span class="text">{{ tip.text }}</span>
  <i class="fa fa-close close" ng-click="closeTip($index)"></i>
</div>