<div class="section">
  <h3>Data</h3>

  <div>
    <label for="state">State:</label>
    <select ng-model="data.state" id="state" name="state"
     ng-options="v as (stateNames[v]) for v in states">
    </select>
  </div>

  <div>
    <label for="year">Tax Year:</label>
    <select ng-model="data.year" id="year" name="year"
     ng-options="v as v for v in years">
    </select>
  </div>

  <div>
    <label class="valign-top">Deductions:</label>
    <div class="inline-block">
      <div ng-repeat="deduction in deductions">
        <input type="checkbox" name="{{ deduction }}" id="{{ deduction }}"
         ng-model="data.deductions[deduction]">
        <label for="{{ deduction }}">{{ deduction | splitCamelCase }}</label>
      </div>
    </div>
  </div>

  <div>
    <label for="itemized" class="valign-top">Itemized <br>Deduction:</label>
    <input type="text" id="itemized" name="itemized" ng-model="data.itemized">
  </div>

  <div>
    <label class="valign-top">Graph Lines:</label>
    <div class="inline-block">
      <div>
        <input type="checkbox" name="single-income" id="single-income" 
         ng-model="data.graphLines.single"> 
        <label for="single-income">Single Filing Status</label>
      </div>
      <div>
        <input type="checkbox" name="married-income" id="married-income"
         ng-model="data.graphLines.married"> 
        <label for="married-income">Married Filing Status</label>
      </div>
    </div>
  </div>
  
  <h3>Settings</h3>

  <div>
    <label for="x-max">X Axis Max ($):</label>
    <input type="text" id="x-max" name="x-max" ng-model="settings.xMax" required ng-pattern="/^\d+$/">
  </div>

  <div>
    <label for="animation-time">Animation Time:</label>
    <select id="animation-time" name="animation-time" ng-model="settings.animationTime"
     ng-options="time as ((time / 1000) + (time === 1000 ? ' second' : ' seconds')) for time in animationTimes">
      </option>
    </select>
  </div>

  <div>
    <label for="colors">Color Scheme:</label>
    <select id="colors" name="colors" ng-model="settings.colors" ng-options="(key | capitalize) for (key, val) in colors"></select>
  </div>

  <div class="text-center buttons">
    <button class="pure-button pure-button-primary" ng-click="drawGraph()">Graph</button>
  </div>
</div>